<header class="bg-primary text-white font-bold flex justify-center">
	<div class="container flex px-16 py-4 items-center justify-between">
		<figure>
			<img src="./logo.png" alt="logo">
		</figure>
		<nav class="text-xl">
			<ul class="flex gap-8">
				<li><a href="http://carta">Carta</a></li>
				<li><a href="http://ubicación">Ubicacion</a></li>
				<li><a href="http://Historia">Historia</a></li>
			</ul>
		</nav>
	</div>
</header>