---
import Header from '../components/sections/Header.astro';
import Hero from '../components/sections/Hero.astro';
import Historia from '../components/sections/Historia.astro';
import Menu from '../components/sections/Menu.astro';
import Layout from '../layouts/Layout.astro';
import Nosotros from '../components/sections/Nosotros.astro';
---

<Layout>
	<Header />
	<main>
		<Hero />
		<Historia />
		<Menu />
		<Nosotros />
	</main>
</Layout>
