---
import "../styles/global.css";
import Dialog from '../components/Dialog.astro';
---
<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Isla Marina | Restaurante de comida peruana</title>
	</head>
	<body>
		<slot />
		<Dialog />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
